@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';

div p {
  display: inline-block;
  font-family: 'Open Sans';
  font-size: 3vw;
  color: white;
  text-transform: uppercase;
  position: relative;
  margin: 0 20px;
  float: left;
  opacity: 0.0;
  animation: port 2s 1 forwards;
  -webkit-animation: port 2s 1 forwards;
}

div p:nth-of-type(2){
  animation-delay: 0.01s;
  -webkit-animation-delay: 0.01s;
}

div p:nth-of-type(3){
  animation-delay: 0.02s;
  -webkit-animation-delay: 0.02s;
}

div p:nth-of-type(4){
  animation-delay: 0.03s;
  -webkit-animation-delay: 0.03s;
}

div p:nth-of-type(5){
  animation-delay: 0.04s;
  -webkit-animation-delay: 0.04s;
}

div p:nth-of-type(6){
  animation-delay: 0.05s;
  -webkit-animation-delay: 0.05s;
}

div p:nth-of-type(7){
  animation-delay: 0.06s;
  -webkit-animation-delay: 0.06s;
}

div p:nth-of-type(8){
  animation-delay: 0.07s;
  -webkit-animation-delay: 0.07s;
}

div p:nth-of-type(9){
  animation-delay: 0.08s;
  -webkit-animation-delay: 0.08s;
}

div p:nth-of-type(10){
  animation-delay: 0.09s;
  -webkit-animation-delay: 0.09s;
}

div p:nth-of-type(11){
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

div p:nth-of-type(12){
  animation-delay: 0.12s;
  -webkit-animation-delay: 0.12s;
}
div:hover p {
  animation: reset 1s 1;
  -webkit-animation: reset 1s 1 ;
}

@keyframes port {
  0%{
    transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@-webkit-keyframes port {
  0%{
   -webkit-transform: rotateY(90deg) translateY(25%);
    opacity: 0.0;
  }
  100%{
    -webkit-transform: rotateY(0deg) translateY(0%);
    opacity: 1.0;
  }
}

@keyframes reset {
  0%{}
  100%{}
}

@-webkit-keyframes reset {
  0%{}
  100%{}
}
